.skill-container{
    width: 100%;
}
.skill_heading{
    
    font-weight: 700;
}
.progress_container {
    max-width: 700px;
    min-width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    font-weight: 600;
}
.progress_bar{
     position: relative;
     max-width: 500px;
     height: 30px;
     border: 2px solid gray;
}
.progress_effect{
    height: 100%;
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pf_html{
    animation: progressEffect 3s 4;

}

.pf_css{
    animation: progressEffect 3s 4;

}
.pf_javascript{
    animation: progressEffect 3s 4;

}
.pf_react{
    animation: progressEffect 3s 4;

}
.pf_bootstrap{
    animation: progressEffect 3s 4;

}
@keyframes progressEffect {
   
  0%{
      width: 0;
  }
    
}

.align_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
@media screen and (max-width:700px) {
    .align_container{
        display: flex;
        flex-direction: column;
    }
}
.skill_icon_container{
   max-width: 500px;
    max-height: 500px;
} 
.skill_icons{
     display: grid;
     grid-column: 1fr 1fr 1fr;
    font-size: 50px;
   grid-template-areas: "html html html"  
                          "css js react"
                          "bootstrap bootstrap bootstrap";
    justify-content: center;
    text-align: center;
}
.html_icon{
    grid-area: html;
    margin: 10px;
    padding:max-content;
}
.css_icon{
    grid-area: css;
    margin: 10px;
    padding:max-content;
    
}
.js_icon{
    grid-area: js;
    margin: 10px;
    padding:max-content;
}
.react_icon{
    grid-area: react;
    margin: 10px;
    padding:max-content;
}
.bootstrap_icon{
    grid-area: bootstrap;
    margin: 10px;
    padding:max-content;
}
@media screen and (max-width:700px) {
    .skill_icons{
        font-size: 40px;
    }
}