@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Grechen+Fuemen&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');


html,body{
  margin: 0 auto;
  padding: 0;

}
.App{
  margin: 0;
  padding: 0; 
  
}